

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
  </head>
  <body>
     {% comment %}
    <p>{{ data }}</p>
     
   
      {% endcomment %}
   
        {% comment %}
    <ul>
        {% for object in data %}
        <li> {{object}} - {{object.price}} #- {{object.brand}} #</li>
        {% endfor %}
        </ul>
        {% endcomment %}
        <ul>
          {% for object in data %}
          <li> {{object}} - {{object.brand}} </li>
          {% endfor %}
          </ul>

  </body>
</html>





